.hero {
  padding: 0 13rem;
  height: 865px;
  background-image: url(../webp/about_BG_v2.webp);
  background-size: cover;
}

.hero-h {
  font-family: "Roboto", sans-serif;
  font-size: 3.6rem;
  font-weight: bold;
  text-align: center;
  padding-bottom: 2rem;
}

.hero-p {
  font-size: 1.8rem;
  text-align: center;
  padding-bottom: 2rem;
  font-weight: normal;
  letter-spacing: 2px;
}

.hero-video {
  display: flex;
  justify-content: center;
}

video {
  height: 66.5rem;
  align-items: center;
}

/*  */
.info-card-box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 5rem;
  padding-bottom: 10rem;
}

.info-card {
  text-align: center;
  padding: 3rem 0 2rem 0;
  box-shadow: 2px 2px 5px 3px
    rgba(187.71195652173915, 207.7865075614367, 217.50000000000003, 0.15);
}

.info-card-h {
  font-family: "Roboto", sans-serif;
  font-size: 6.5rem;
  font-weight: 600;
  color: #0f81b1;
  padding-bottom: 2rem;
}

.info-card-text {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  font-weight: 500;
}

.values-h {
  font-family: "Bebas Neue", sans-serif;
  font-size: 5.5rem;
  font-weight: normal;
  text-align: center;
  letter-spacing: 0.2rem;
  padding-bottom: 5rem;
}
/*  */
.values-card-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 14rem;
  row-gap: 4rem;
}

.values-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fa-users,
.fa-person-walking,
.fa-screwdriver-wrench,
.fa-diagram-project,
.fa-up-right-from-square,
.fa-magnifying-glass {
  color: #0f81b1;
  font-size: 5rem;
  padding-bottom: 3rem;
}

.values-card-h {
  font-family: "Roboto", Sans-serif;
  font-size: 2rem;
  font-weight: 600;
  padding-bottom: 1rem;
}

.values-card-p {
  font-family: "Roboto", Sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
  line-height: 1.85;
}

/*  */
.cta-section {
  background-image: url(../webp/hq-1024x448.webp);
  background-size: cover;
  height: 448px;
  background-attachment: fixed;
}

.cta-inner {
  text-align: center;
  color: #fff;
  margin-bottom: 9rem;
  margin-top: 9rem;
}

.cta-h {
  font-family: "Roboto", Sans-serif;
  font-size: 4.8rem;
  font-weight: 600;
  padding-top: 9rem;
  padding-bottom: 2.5rem;
  letter-spacing: 0.2rem;
}

.cta-p {
  font-family: "Roboto", Sans-serif;
  font-size: 2rem;
  font-weight: 400;
  padding-bottom: 2rem;
  line-height: 1.85;
}

.cta-button {
  display: inline-block;
  font-family: "Roboto", Sans-serif;
  font-weight: 500;
  font-size: 1.6rem;
  padding: 1.5rem 3rem;
  border-radius: 3px;
  margin-bottom: 2.5rem;
  background: #2f83bf;
  color: #fff;
  text-decoration: none;
}
