@media screen and (max-width: 89.5em) {
  .section {
    padding: 0 9rem;
  }
}

@media screen and (max-width: 88.3em) {
  .section {
    padding: 0 7rem;
  }

  .section-why-paragraph {
    padding: 0 11.5rem 3rem 11.5rem;
  }
}
