.revenue-section-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.header-revenue-cycle-consulting-h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 3.6rem;
  padding-bottom: 3rem;
}

.header-revenue-cycle-consulting-h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 2rem;
  padding-bottom: 2rem;
}

.paragraph-revenue-cycle-consulting {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.85;
}

.revenue-img-box {
  display: flex;
  justify-content: end;
}

.revenue-img {
  width: 40rem;
  padding: 2rem;
}
