/* HERO Section*/
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10rem 10rem 10rem 10rem;
  height: 76rem;
  background-image: linear-gradient(
      to right bottom,
      rgba(65, 106, 141, 0.35),
      rgba(65, 106, 141, 0.35)
    ),
    url("../webp/homeBG.webp");
  background-size: cover;
}

.hero-header {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 4.5rem;
  color: #ffffff;
  padding-bottom: 2rem;
  letter-spacing: 0.2rem;
  line-height: 1.2;
}

.hero-text {
  color: #ffffff;
  font-size: 2.5rem;
  font-weight: normal;
  line-height: 1.4;
  letter-spacing: 0.2rem;
  padding-bottom: 4rem;
}

.hero-button:link,
.hero-button:visited {
  font-family: Arial, sans-serif;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 500;
  background-color: #03b4c6;
  color: #ffffff;
  padding: 1.2rem 2.4rem;
  border-radius: 3px;
}

a .hero-button {
  color: #ffffff;
  text-decoration: none;
}

/* Features Section*/
.why-card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  align-items: start;
  padding-bottom: 3rem;
}

.heading-why {
  font-family: "Bebas Neue", sans-serif;
  font-size: 4.8rem;
  font-weight: normal;
  line-height: 1.2;
  letter-spacing: 0.2rem;
  color: #03b4c6;
  padding-bottom: 2rem;
  text-align: center;
}

.section-why-paragraph {
  padding: 0 15rem 3rem 15rem;
  text-align: center;
  font-family: "Open Sans", Sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.8;
}

.why-card-img {
  height: 250px;
  padding-bottom: 2rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.why-card-text {
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  text-align: center;
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
  line-height: 1.8;
  padding: 0 2rem;
}

.why-our-story {
  display: block;
  text-align: center;
  padding: 4rem 0 0 0;
}

.why-our-story-button:link,
.why-our-story-button:visited {
  color: #ffffff;
  background-color: #03b4c6;
  display: inline-block;
  font-family: Arial, sans-serif;
  text-decoration: none;
  padding: 1.5rem 3rem;
  border-radius: 3px;
  font-size: 1.6rem;
}

/* Who We Serve Section */
.who-we-serve {
  background-color: #41698d;
}

.who-we-serve-container {
  padding: 7rem 0;
}

.who-we-serve-h2 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 4.8rem;
  font-weight: normal;
  letter-spacing: 0.2rem;
  color: #ffffff;
  text-align: center;
  padding-bottom: 3.2rem;
  margin: 0;
}

.who-we-serve-p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  padding: 0 9rem;
  text-align: center;
  color: #ffffff;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.8;
}

/* Services section */
.services-h2 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 4.8rem;
  font-weight: normal;
  letter-spacing: 0.2rem;
  line-height: 1.2;
  color: #41698d;
  text-align: center;
  padding: 0 0 2rem 0;
}

.services-text {
  padding: 0 12rem 5rem 12rem;
  text-align: center;
  font-size: 2.5rem;
  line-height: 1.4;
  letter-spacing: 0.2rem;
}

.services-text span {
  color: #03b4c6;
  font-weight: bold;
}

/*services card */
.services-container-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
}
.services-card {
  border-radius: 8px;
  border: solid 3px transparent;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  transition: all 0.2s;
}

.services-card:hover {
  transform: translateY(-0.2rem);
  border: solid 3px #bb4790;
}

.services-card-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: auto;
  padding-bottom: 2rem;
}

.service-card-text {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  text-decoration: none;
  padding: 0 13rem 2rem 13rem;
  border-radius: 3px;
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
  line-height: 1.8;
}

.learn {
  display: block;
  color: #41698d;
  text-align: center;
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
  padding-bottom: 2rem;
}

.learn:hover {
  text-decoration: none;
}

/* Testimonials Section*/
.section-testimonials {
  background-color: #f5f5f5;
}

.testimonials-container {
  display: grid;
  grid-template-columns: 1.32fr 2fr;
  padding: 5rem;
}

.testimonials-promotion {
  font-family: "Bebas Neue", sans-serif;
  font-size: 4.8rem;
  font-weight: normal;
  line-height: 1.4;
  padding: 1rem 5rem 1rem 2rem;
}

.testimonials-promotion span {
  color: #03b4c6;
}

/* Testimonial Cards */

.testimonials-card {
  background-color: #41698d;
  color: #ffffff;
  height: 100%;
}

.inner-card {
  height: 100%;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.testimonials-card-text {
  font-family: "Roboto", sans-serif;
  font-style: italic;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: 0rem;
  line-height: 1.5;
  padding-bottom: 2.5rem;
}

.testimonials {
  display: flex;
  justify-content: center;
  align-items: center;
}

.testimonials-logo {
  width: 10.5rem;
  border-radius: 50%;
  margin-right: 2rem;
}

.people {
  display: block;
  font-family: "Roboto", sans-serif;
  font-style: italic;
  font-size: 1.6rem;
  font-weight: 600;
}

.position {
  font-family: "Roboto";
  color: #03b4c6;
  display: block;
  font-size: 1.4rem;
  font-style: italic;
  font-weight: normal;
  line-height: 1.5;
}

/* CTA Section */
.section-cta {
  background-color: #03b4c6;
  color: #ffffff;
}

.cta-inner {
  padding: 5rem 1rem;
  text-align: center;
}

.cta-heading {
  font-family: "Bebas Neue", sans-serif;
  font-size: 4.8rem;
  font-weight: normal;
  letter-spacing: 0.2rem;
  line-height: 1.2;
  padding: 0 0 2rem 0;
}

.cta-text {
  font-family: "Open Sans", Sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.8;
  letter-spacing: 0.5px;
  padding: 0 0 3.5rem 0;
}

.cta-button:link,
.cta-button:visited {
  display: inline-block;
  color: #ffffff;
  text-decoration: none;
  font-family: "Open Sans", Sans-serif;
  font-size: 16px;
  font-weight: 500;
  background-color: #41698d;
  padding: 1.5rem 3rem;
  border-radius: 3px;
}

.mySlides {
  height: 100%;
  display: none;
}

/* Slideshow container */
.slideshow-container {
  height: 375px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
