/* HERO SECTION */
.hero-section {
  background-color: #000;
  color: #fff;
  padding-top: 20rem;
  padding-bottom: 20rem;
  text-align: center;
}

.hero-h {
  font-family: "Roboto", sans-serif;
  font-size: 3rem;
  font-weight: 700;
  padding-bottom: 2rem;
  line-height: 1.85;
}

.hero-p {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.85;
  padding: 0 14.5rem;
}

/*  */
.trust-section {
  background-color: #f0f0f0;
}

.trust-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 4rem;
  column-gap: 14rem;
  padding: 0 7rem;
}

.trust-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fa-lock,
.fa-shield-halved,
.fa-cloud,
.fa-clipboard-check,
.fa-scale-balanced,
.fa-earth-americas {
  font-size: 5rem;
  color: #0f81b1;
  padding-bottom: 2rem;
}

.trust-card-h {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  font-weight: 600;
  padding-bottom: 1rem;
}

.trust-card-p {
  color: #242424;
  font-family: "Roboto", Sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.85;
  text-align: center;
}

/* Certificate Section */
.certificate-h-box {
  display: flex;
  justify-content: center;
}

.certificate-h {
  font-family: "Roboto", Sans-serif;
  font-size: 3rem;
  font-weight: bold;
  align-items: center;
  letter-spacing: 0.2rem;
  border-bottom: 1px solid #3a75a4;
  display: inline-block;
  padding-bottom: 1.5rem;
}

.certificate-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-top: 4.5rem;
  column-gap: 10rem;
}

.certificate-card {
  display: flex;
  flex-direction: column;
}

.certificate-card-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 22.5rem;
  padding-bottom: 2rem;
}
.certificate-card-img-1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 24.5rem;
  padding-bottom: 2rem;
}

.certificate-card-h {
  font-family: "Roboto", Sans-serif;
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  padding-bottom: 2rem;
}

.certificate-card-p {
  font-family: "Roboto", Sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  text-align: center;
  line-height: 1.85;
}
